.categories-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 4fr;
  gap: 10px;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.category {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  border-radius: 8px;
}
.jobs-container {
  margin-top: 50px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 2fr;
  gap: 24px;
}
.job-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.job-container img {
  max-width: 270px;
  max-height: 100px;
}
.job-container .col {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}
